body{
    font-family: sans-serif;
    width: 97%;
    margin-left: 10px;
    color:black;
    background-color: #B3EBC4;
    font-size: 20px;
}

#img{
    height: 500px;
    width: 500px;
}
.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
}

#alphabet {
  @include clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px $white;
    
    &:hover{
      background:$base-color;
      border: solid 1px $white;
      color:$white;
    }
}


